

<div class="row">
    <div class="col-12">
      <button type="button" class= "btn btn-dark  float-right" (click)="btnClick()"> Add</button>
       <div class="text-center">
         <h2 class="text-uppercase"> ventes disponibles</h2>
       </div>

      <table class="table">
        <thead class=" table-dark">
        <tr>
          <td scope="col" >ID</td>
          <td scope="col" >date vente </td>
          <td scope="col" >lieu</td>
          <td scope="col" >code promo</td>
          <td scope="col" >methode achat</td>
          <td scope="col" >
            Action
          </td>

        </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let vente of ventes">
            <td scope="col" >{{vente.id}}</td>
            <td scope="col" >{{vente.saleDate | date}}</td>
            <td scope="col" >{{vente.storeLocation}}</td>
            <td scope="col" >{{vente.couponUsed ?'✅':'❌ ' }}</td>
            <td scope="col" >{{vente.purchaseMethod}}</td>
            <td>
              <button class="btn btn-success text-uppercase mr-1" routerLink="/sale/{{vente.id}}"   >Detail</button>

              <button class="btn btn-warning text-uppercase" routerLink="/edit/{{vente.id}}"  >Editer</button>

              <button class="btn btn-danger text-uppercase"  (click)= "ondeletevente(vente)" >Suprimer</button>
            </td>
          </tr>
        </tbody>


      </table>
    </div>

</div>
